body{
  background-color: #d1acda;
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;

}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: #a10fc5;
}
.add-button:hover{
  background-color: #8509a1;
}
.delete-button{
  background-color: red;
}
.delete-button:hover{
  background-color: #db1818;
}
.move-button{
  background-color: #ac21cd;
}
.move-button:hover{
  background-color: #8c07ab;
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid #989797;
  border-radius: 5px;
  color: #2e2d2d;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: #f6f1f1;
  margin-bottom: 10px;
  border: 3px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;

}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;

}
